<div class="h-screen w-screen bg-black">
  <div class="h-20 w-full grid grid-cols-3 py-3 px-5 border-b items-center">
    <h1 class="text-2xl font-bold text-white">Aura</h1>
    <div class="flex justify-center">
      <input
        type="text"
        placeholder="Type here"
        class="input input-bordered w-full h-10"
      />
    </div>
    <div class="flex justify-end gap-2">
      <button class="btn text-white btn-circle" (click)="navigateToProfile()">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </div>
  </div>
  <div class="h-full w-full">
    <router-outlet />
  </div>
</div>
