<div class="h-full w-full flex-col">
  <div class="h-60 w-full bg-neutral-700"></div>
  <div class="relative">
    <div class="absolute -top-16 left-5">
      <div
        class="h-40 w-40 rounded-full border-4 border-black bg-neutral-500 overflow-hidden"
      >
        <!-- Add image here -->
        <img
          src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"
          alt="Profile picture"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
    <div class="p-5 pt-28 ml-5">
      <div class="text-white font-bold text-2xl">John Doe</div>
      <div class="text-neutral-400">john&#64;doe.com</div>
    </div>
  </div>
  <div class="p-5">
    <div class="text-white font-bold text-2xl">Posts</div>
    <div class="px-52">
      <div class="h-40 w-full">dsd</div>
    </div>
  </div>
</div>
